body{
    margin:0px;
}
.menu-superior{
  background-color: #f4be25;
  height:"350px"; 
}
a{
    text-decoration: none;
    color:black;
}
.minhaclasse{
    font-family: verdana;
}
.menu-superior a{
    color:white;
}
.logo{
    width: 200px;
    height: 200px;
    position: absolute;
    left:0px;
    top: 10px;
    font-size: 30px;
    color: #666666;
}
.logo a{
    color: #666666;
}
.menu-inferior{
    background-color: white;
    height:80px;
    position:relative;
    padding-top:20px;
}

.BANNER{    
    height:350px;
    width:100%;
}
.BANNER img{
    width:100%;
    height: 350px;
}

.porta-colunasLeft, .porta-colunasRight{
    width:48%;
    float:left;
    
}
.porta-colunasRight{
    margin-left: 3%;
    float:right;
}

.colunaL, .colunaR{
    background-color: #f4be25;
    color:white;
    height:150px;
    width:46%;
    margin-top:4%;
    margin-bottom: 4%;    
}
.colunaL{
    float:left;
    margin-left: 0px;
}
.colunaR{
    float:right;
    margin-right: 0px;
}
.colunaL:last-child{
    float:right;
}
.colunaR:first-child{
    float: left;
}
.porta-colunas div:last-child {
    background: #ff0000;
}
.empurra{clear:both;}
.corpo-site{
    width:960px;
}

.rodape{
    width:960px;
    background-color: #6d687e;
    color:white;
    text-align: left;
    padding: 10px 0px 10px 0px;
}

.icone-foto{
    width: 50px;
    height: 30px;
    float:left;
    text-align: center;
    background-color: #f4be25;
    margin-top:-10px;
    padding-top:10px;
    margin-right:10px;
}